#container {
  min-width: 400px;
  max-width: 600px;
}

h2 {
  margin: 50px auto;
}

#buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

button:nth-last-child(1) {
  margin-left: auto;
}
