#container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
}

h2 {
  margin-top: 50px;
}

#pb {
  margin: 5px auto;
}

.entry {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
}

.entry:nth-child(1) {
  font-size: 30px;
}

.entry:nth-child(2) {
  font-size: 25px;
}

.entry:nth-child(3) {
  font-size: 20px;
}

.entry:nth-last-child(2) {
  margin-bottom: 20px;
}

.name {
  width: 50%;
}

.score {
  margin-left: auto;
}
